{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/form-elements.css">
	<link rel="stylesheet" href="static/css/style.css">
{% endblock %}
{% block extra_js %}
	<script src="static/js/signup.js" type="text/jsx"></script>
{% endblock %}

{% block content %}

<!-- Top content -->
<div class="top-content">
<div class="inner-bg">
	<div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <div class="form-bottom">
			        <form action="/signup" role="form" method="post" name="login" class="login-form">
						{{ form.hidden_tag() }}
			            <div class="form-group">
							<p>{{ form.name(placeholder='login ID', size=50) }}</p>
			            </div>
			            <div class="form-group">
							<p>{{ form.mail(placeholder='e-mail address', size=50) }}</p>
			            </div>
						<div class="form-group">
							<p>{{ form.password(placeholder='password', size=50) }}</p>
			            </div>
			            <button type="submit" class="btn">Signup</button>
			        </form>
		        </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 social-login">
                <h3>Login with：</h3>
                <div class="social-login-buttons">
	                <a class="btn btn-link-1 btn-link-1-facebook" href="#">
	                    <i class="fa fa-facebook"></i> Facebook
	                </a>
	                <a class="btn btn-link-1 btn-link-1-twitter" href="#">
	                    <i class="fa fa-twitter"></i> Twitter
	                </a>
	                <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
	                    <i class="fa fa-google-plus"></i> Google Plus
	                </a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>	
{% endblock %}
